Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
circus==0.11.1
gunicorn==19.1.1
iowait==0.2
itsdangerous==0.24
psutil==2.1.1
pyzmq==14.3.1
termcolor==1.1.0
tornado==4.0.1
wsgiref==0.1.2
