<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>thinkCube Careers</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4054891-47', 'thinkcube.com');
  ga('send', 'pageview');

</script>
<table width="644" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td><h1>We asked for curl.<br />
You should've at least tried wget.</h1>
	</td>
  </tr>
  <tr>
    <td><p>Perhaps try our <a href="http://thinkcube.com/careers">careers page</a> :-/</p></td>
  </tr>
  <tr>
    <td align="center" class="footer"> <a href="http://www.thinkcube.com" target="_blank"><span class="icon globe"></span>www.thinkcube.com</a> <a href="https://www.facebook.com/pages/thinkCube/137537529599457" target="_blank"><span class="icon facebook"></span></a>  
    <a href="http://www.linkedin.com/company/thinkcube-systems" target="_blank"><span class="icon twitter"></span></a>
    <a href="http://www.linkedin.com/company/thinkcube-systems" target="_blank"><span class="icon linkedin"></span></a>
    </td>
  </tr>
</table>
</body>
</html>
